
<div ng-controller="HallQuickviewController" ng-show="quickviewVisible">
  <div>quickview address</div>
  <input ng-model="hall.id" disabled="disabled"/>
  <input ng-model="hall.name"/>
  <input ng-model="hall.addr_id" disabled="disabled"/>
  <typeahead typeahead-id-model="hall.addr_id" typeahead-value-model="hall.addr" typeahead-api-endpoint="addresses" typeahead-value-column="addr"></typeahead>
  <input ng-model="hall.status" disabled="disabled"/>
  <input ng-model="hall.basis_id_hall" disabled="disabled"/>
  <input ng-model="hall.rmb_menu1" disabled="disabled"/>
  <input ng-model="hall.objversion" disabled="disabled"/>
  <button ng-click="save()">Save</button>
</div>