//- .clearfix
.logo
	a(href="#/")
		img(src="../dashboard/images/logo.png", alt="")
.bar
	ul.bar-left.list-unstyled
		li
			a.toggle-min(href="#/")
				i.fa.fa-bars
		li
			a.toggle-min(href="#/")
				i.fa.fa-search











//- .bar-left
//- 	ul.list-unstyled
//- 		li
//- 			button
//- 				i.fa.fa-bars
//- .bar-right
//- 	ul.list-unstyled
//- 		li
//- 			button
//- 				i.fa.fa-comment-o
