
<div class="logo"><a href="#/"><img src="../dashboard/images/logo.png" alt=""/></a></div>
<div class="bar">
  <ul class="bar-left list-unstyled">
    <li><a href="#/" class="menu-toggler"><i class="fa fa-bars"></i></a></li>
    <li><a href="#/"><i class="fa fa-search"></i></a></li>
    <li><a href="#/"><i class="fa fa-comment-o"></i></a></li>
    <li>
      <div class="input-group search-box">
        <input type="text" class="form-control"/>
        <div class="input-group-btn">
          <button type="button" data-toggle="dropdown" tabindex="-1" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu pull-right">
            <li><a href="#">Action</a></li>
          </ul>
          <button type="button" tabindex="-1" class="btn btn-default">Action</button>
        </div>
      </div>
    </li>
  </ul>
</div>