doctype html
html
	head
		title Angular
		link(rel="stylesheet", type="text/css", href="./app.css")
	body
		ng-include(src='\'./modules/menu/templates/menu.template.html\'')
		ui-view
		script(type='text/javascript', src='../bower_components/requirejs/require.js', data-main='./require.config')



