div collection
table
	thead
		tr
			th(ng-repeat='column in columns') {{column}}
	tbody
		tr(ng-repeat='document in collection', ng-click='showBar()')
			td(ng-repeat='field in document') {{field}}
			td
				button(ng-click='delete($index)') Delete
			td
				button(ng-click='edit($index)') Edit
