ul
	li
		a(ng-href='#/orders') Заказы
	li
		a(ng-href='#/orders/1') Заказ 1
	li
		a(ng-href='#/orders/create') Создать заказ




//- ul
//- 	li
//- 		a(href="#/addresses") addresses
//- 	li
//- 		a(href="#/addresses/1") address 1
//- 	li
//- 		a(href="#/halls") halls
//- 	li
//- 		a(href="#/halls/1") hall 1
//- 	li
//- 		a(href="#/orders") orders
//- 	li
//- 		a(href="#/orders/1") order 1
//- 	li
//- 		a(href="#/tickets") tickets
//- 	li
//- 		a(href="#/tickets/1") ticket 1
//- 	li
//- 		a(href="#/orders/1/tickets") order 1 tickets
//- 	li
//- 		a(href="#/orders/1/tickets/1") order 1 ticket 1
//- 	li
//- 		a(href="#/home") home