
<div ng-controller="OrderQuickviewController" ng-show="quickviewVisible">
  <div>quickview order</div>
  <input ng-model="order.id" disabled="disabled"/>
  <input ng-model="order.order_date_time"/>
  <input ng-model="order.order_date"/>
  <input ng-model="order.status"/>
  <input ng-model="order.status_ru"/>
  <input ng-model="order.payment_type"/>
  <input ng-model="order.payment_type_ru"/>
  <input ng-model="order.color"/>
  <input ng-model="order.discount"/>
  <input ng-model="order.cash_amount"/>
  <input ng-model="order.card_amount"/>
  <input ng-model="order.gift_card_amount"/>
  <input ng-model="order.agent_id"/>
  <typeahead typeahead-api-endpoint-id-column="agent_id" typeahead-api-endpoint-value-column="name" typeahead-api-endpoint="agents" typeahead-id-column="agent_id" typeahead-id-model="order.agent_id" typeahead-value-column="agent_name" typeahead-value-model="order.agent_name"></typeahead>
  <input ng-model="order.crm_user_id"/>
  <input ng-model="order.crm_user_name"/>
  <input ng-model="order.crm_user_phone"/>
  <input ng-model="order.crm_user_email"/>
  <input ng-model="order.count_reserved_tickets"/>
  <input ng-model="order.count_to_pay_tickets"/>
  <input ng-model="order.count_paid_tickets"/>
  <input ng-model="order.count_on_realization_tickets"/>
  <input ng-model="order.count_on_realiz_notprinted"/>
  <input ng-model="order.count_closed_tickets"/>
  <input ng-model="order.count_closed_realization_tick"/>
  <input ng-model="order.count_closed_realiz_notprinted"/>
  <input ng-model="order.agent_realization_access"/>
  <input ng-model="order.total_order_amount"/>
  <input ng-model="order.total_paid_order_amount"/>
  <input ng-model="order.total_to_pay_order_amount"/>
  <input ng-model="order.tickets_count"/>
  <input ng-model="order.places_count"/>
  <input ng-model="order.printed_tickets_count"/>
  <input ng-model="order.not_printed_tickets_count"/>
  <input ng-model="order.comments"/>
  <input ng-model="order.created_by"/>
  <input ng-model="order.created_by_ru"/>
  <input ng-model="order.user_id"/>
  <input ng-model="order.user_fullname"/>
  <input ng-model="order.reserv_date"/>
  <input ng-model="order.reserv_time"/>
  <input ng-model="order.send_email_response"/>
  <input ng-model="order.send_sms_response"/>
  <input ng-model="order.payment_trans_status"/>
  <input ng-model="order.delivery_man_id"/>
  <input ng-model="order.delivery_status"/>
  <input ng-model="order.delivery_date_from"/>
  <input ng-model="order.date_in_delivery"/>
  <input ng-model="order.date_delivered"/>
  <input ng-model="order.dl_city"/>
  <input ng-model="order.dl_metro_station_id"/>
  <input ng-model="order.dl_street"/>
  <input ng-model="order.dl_bld"/>
  <input ng-model="order.dl_korpus"/>
  <input ng-model="order.dl_stroenie"/>
  <input ng-model="order.dl_podzd"/>
  <input ng-model="order.dl_et"/>
  <input ng-model="order.dl_flat"/>
  <input ng-model="order.dl_comments"/>
  <input ng-model="order.dl_fio"/>
  <input ng-model="order.dl_phone1"/>
  <input ng-model="order.dl_phone2"/>
  <input ng-model="order.current_user_id"/>
  <input ng-model="order.objversion"/>
  <button ng-click="save()">Save</button>
</div>