body {
  background-color: #f3f3f3;
}
a {
  color: #333;
  text-decoration: none;
  background: transparent;
}
a:hover {
  color: #0d0d0d;
  text-decoration: underline;
}
.list-unstyled {
  list-style: none;
  padding: 0;
}
img.img30_30 {
  width: 30px;
  height: 30px;
}
