@import 'variables.styl'

body
	background-color contentBgColor

a
	color #333
	text-decoration none
	background transparent

	&:hover
		color #0d0d0d
		text-decoration underline

.list-unstyled
	list-style none
	padding 0

img.img30_30
	width 30px
	height 30px
