html {
  overflow: hidden;
}
body {
  font-family: 'Lato' 'Helvetica Neue' Arial sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background-color: #fff;
  font-size: 14px;
}
a {
  color: #333;
  text-decoration: none;
  background: transparent;
}
a:hover {
  color: #0d0d0d;
  text-decoration: underline;
}
