@import 'variables.styl'

.headbar-container
	background-color headbarBgColor
	position fixed
	top 0
	left 0
	right 0
	height headbarHeight

.headbar-container .logo
.headbar-container .bar
	float left
	height 100%

.headbar-container .logo
	width menuWidth
	background-color logoBgColor

