fontSize = 14px
headbarHeight = 50px
menuWidth = 250px
collapsedMenuWidth = 30px
menuBgColor = #535A6C
logoBgColor = #2DCB73
contentBgColor = #EBEEF1
dockHeight = 50px
dockBgColor = #DDE1E7
headbarBgColor = #fff