fontSize = 14px
headbarHeight = 50px
menuWidth = 250px
collapsedMenuWidth = 30px
menuBgColor = #535A6C
// logoBgColor = #2DCB73
logoBgColor = #fff
// contentBgColor = #EBEEF1
contentBgColor = #F3F3F3
dockHeight = 40px
dockBgColor = #DDE1E7
headbarBgColor = #fff