// Sizes

normalFontSize = 14px
headbarHeight = 50px
menuFullWidth = 250px
menuCollapsedWidth = 30px
dockHeight = 40px

// Colors

// contentBgColor = #EBEEF1
// logoBgColor = #2DCB73
bodyBgColor = #fff
contentBgColor = #fff
dockBgColor = #DDE1E7
headbarBgColor = #fff
logoBgColor = #fff
menuBgColor = #F5F5F5