doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title {{title}}
		link(rel="stylesheet", type="text/css", href="../../bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="../../bower_components/angular-ui-handsontable/dist/angular-ui-handsontable.full.min.css")
		link(rel="stylesheet", type="text/css", href="app/views/table/table.css")
	body

		header(ng-include=' \'app/headbar/headbar.template.html\' ')
		aside(ng-include=' \'app/menu/menu.template.html\' ')
		header(ng-include=' \'app/dock/dock.template.html\' ')
		section.views-container(ng-view)

		script(type='text/javascript', src='../../bower_components/requirejs/require.js', data-main='require.config')

