doctype html
html(ng-app='app')

	head

		title {{title}}

	body

		header(ng-include=' \'app/headbar/headbar.html\' ')
		aside(ng-include=' \'app/menu/menu.html\' ')
		header(ng-include=' \'app/dock/dock.html\' ')
		section(ng-view)

		script(type="text/javascript", src="../../bower_components/jquery/dist/jquery.min.js")
		script(type="text/javascript", src="../../bower_components/angular/angular.js")
		script(type="text/javascript", src="../../bower_components/angular-route/angular-route.min.js")

		script(type="text/javascript", src="app/app.js")

		script(type="text/javascript", src="app/headbar/headbar.js")
		script(type="text/javascript", src="app/menu/menu.js")
		script(type="text/javascript", src="app/dock/dock.js")

		script(type="text/javascript", src="app/views/entities/address/address.js")
